.main_page {  
    display: flex;
    flex-direction: column;
    align-items: center;

}

html{
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;    
    
}